:root {
    --deep-blue: #2D3250;
    --middle-blue: #424769;
    --light-blue: #7077A1;
    --orange: #F6B17A;

  }

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--light-blue);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--deep-blue);
}

.heading {
    flex: 1;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: var(--light-blue);
    font-style: italic;
    font-family: "Shadows Into Light", Calibri, Tahoma, sans-serif;
    line-height: 16px;
}

.navbar {
    flex: 8;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-family: Calibri, Tahoma, sans-serif;
    color: var(--orange);
}

li {
    list-style: none;
}

a:link {
  color: var(--orange);
  text-decoration: none;
}

a:visited, a:focus , a:active { 
    text-decoration: none; color: var(--orange);; 
}

@media screen and (min-width: 600px) {
    .vertical-border {
        width: 20px;
    }
    .horizontal-border {
        height: 20px;
    }
    .main-content {
        margin: 20px;
    }
    .content-wrap {
        padding: 5% 30%;
    }
}

@media screen and (max-width: 600px) {
    .content-wrap {
        padding: 1% 2%;
    }
}

.vertical-border {
    background-color: black;
    height: 100%;
    top: 0;
    z-index: 10000;
    position: fixed;
}

.horizontal-border {
    width: 100%;
    background-color: black;
    left: 0;
    position: fixed;
    z-index: 10000;
}

.body-border-left {
    left: 0;
}

.body-border-top {
    top: 0;
}

.body-border-right {
    right: 0;
}

.body-border-bottom {
    bottom: 0;
}

.content-wrap {
    font-family: Calibri, Tahoma, sans-serif;
    color: white;
}